/bin/

# Ignora todos los archivos de texto
*.txt

# Ignora archivos de prueba
MainPruebas.java
Prueba.java

# Ignora el main donde probamos cosas
ma.java


# Ignoro el .jar y el .bat
/ejecutables/


# Ignoramos Memoria Escrita local
Memoria Escrita - copia.docx


# Ignoramos el caché de Python
*pyc


# Ignoramos los archivos de bases de datos
autores
estanterias
usuariosI
usuariosE
personas
publicaciones
libros
folletos
revistas
prestamos
